@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Pokemon_Classic.ttf);
}

*{
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

body {
    background: url(../images/sfondoLabirinto.png);
    background-size: 100%;
}

.mainBtns{
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: myFirstFont;
    color: yellow;
    background-color: blue;
    margin: 10px;
    font-size: 25px
}

.selected{
    box-shadow:0px 12px 22px 1px #C1C1C1;
}

a{
    font-family: myFirstFont;
    font-size: 10px;
    color: yellow;
}

.title {
    margin: 0;
    width: 100%;
    align-content: center;
    position: absolute;
    top: 10%;
    font-family: myFirstFont;
    color: yellow;
    text-align: center;
    font-size: 25px;
}

.chooseCharacterDiv{
    width: 100%;
    margin-top: 10%;
    text-align: center;
    align-content: center;
    vertical-align: top;
}

#namePlayerInput {
    /* border: 2px solid; */
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: yellow;
    box-shadow: 0 0 10px violet;
    background-color: transparent;
    color: white;
    text-shadow: 0 0 10px yellow;
    font-family: myFirstFont;
}

.character{
    width: 15%;
    height: 15%;
    margin-left: 30px;
    margin-right: 30px;
    border-color: blue;
    border-width: 5px;
    border-radius: 25px
}

.nameDiv{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-family: myFirstFont;
    color: yellow;
    font-size: 25px;
    margin-top: 25px;
    vertical-align: middle;
}

.text{
    font-family: myFirstFont;
    color: yellow;
    font-size: 25px;
}

#descInputName{
    font-family: myFirstFont;
    color: white;
    font-size: 0.8vw;
}
